/*Kevin Woolgar - kevinwoolgar@gmail.com*/
/*Author: Kevin Woolgar - All content Copyright Kevin Woolgar*/
/*body font styling*/
body {
    font-family:'Times New Roman', Times, serif;
}
/*navbar background styling*/
.navbar {
    background-color: white;
}
/*header positioning*/
.page-header {
    margin-top: 20px;
}
p::first-letter {
    font-size: 200%;
    color: #000000;
}